deploy/.terraform/
deploy/.terraform.lock.hcl
deploy/terraform.tfstate
rvrlogging/__pycache__/
rvrlogging/api/__pycache__/
venv/
rvrpowerlogger/__pycache__/
rvrstatisticslogger/__pycache__/
deploy/terraform.tfstate.backup
